
# User-specific files
*.rsuser
addons/css/
addons/content/
backgrounds/
bin/
cache/
download/
downloadlists/
downloads/
fallbacks/
html/
particles/
perenos/
resource/
scenes/
settings/
*.vpk
*.rar
*.zip
*.cache
*.rad
*.inf
*.vbsp
